@use "../../scss/" as *;

.movie-card {
	margin-bottom: 30%;
	position: relative;
	img {
		-webkit-box-reflect: below 4px
			linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		border-radius: 5px;
	}

	&__overplay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transform: translateY(100%);
		background: rgba(0, 0, 0, 0.4);
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;

		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: $white;
			-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;

			.title {
				font-size: 0.8rem;
				font-weight: 600;
				margin-bottom: 1rem;
			}

			.votes {
				font-size: 0.7rem;
				font-weight: 400;
				// width: 100%;
				padding: 5px 8px;
				background-color: #666;
				box-sizing: border-box;
				border-radius: 5px;
				background: #ffffff;
				border: 1px solid #f7f9fd;

				.vote {
					display: flex;
					align-items: center;
					
                    &__icon {
						display: flex;
						justify-content: center;
						align-items: center;
                        width: 30px;
                        height: 30px;
						// margin-right: 17px;
						background: #ffe600;
						border-radius: 50%;
                    }

					&__average {
						font-size: 0.7rem;
						font-weight: 400;
						color: #000;
						margin: 0 17px;
					}
				}
			}
		}
	}

	&:hover .movie-card__overplay {
		opacity: 1;
		transform: translateY(0);
	}
}
