@use "../../scss/" as *;

.logo {
	font-size: 2.5rem;
	font-weight: 600;
	@include flex(center, unset);
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $main-color;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s ease;
	}

	&:hover::after {
		transform: scaleX(1);
	}

	@include flex(center, unset);

	img {
		width: 50px;
		margin-right: 10px;

		@include mobile {
			width: 30px;
			margin-right: 0;
		}
	}
}

.header {
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: height 0.3s ease, background-color 0.3s ease;

	&.shrink {
		height: $header-shrink-height;
		background-color: $body-bg;
		box-shadow: $box-shadow-header;
	}

	&__wrap {
		@include flex(center, unset);
		height: 100%;
		padding: 0 2rem;

		@include mobile {
			padding: 0 1rem;
			justify-content: center;
		}

		.auth-dropdown {
			@include flex(center, unset);
			position: relative;

			&__btn {
				width: 50px;
				height: 50px;
				background-color: $main-color;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;

				@include tablet {
					width: 40px;
					height: 40px;
				}

				@include mobile {
					width: 30px;
					height: 30px;
				}
			}

			@include flex(center, unset);
			&__name {
				font-size: 2.5rem;
				font-weight: 600;
				color: $txt-color;
				transition: color 0.3s ease;
			}

			&__list {
				position: absolute;
				top: 60px;
				right: 0;
				width: 150px;
				border-radius: 10px;
				background-color: $body-bg;
				box-shadow: $box-shadow;
				opacity: 0;
				visibility: hidden;
				transform: translateY(-20px);
				transition: all 0.3s ease;

				&.active {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
				
			}
			&__item {
				padding: 1rem 2rem;
				cursor: pointer;
				text-align: center;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: $greyLight-1;
					color: $body-bg;
				}

				&-btn {
					outline: none;
					border: none;
					background-color: transparent;
					text-align: center;
					color: $txt-color;
				}

				&:first-child {
					border-radius: 10px 10px 0 0;
				}
				&:last-child {
					border-radius: 0 0 10px 10px;
					background-color: $main-color;
				}
			}
		}
	}

	&__nav {
		@include flex(center, unset);
		margin-left: auto;
		margin-right: 20px;
	}

	&__list {
		@include flex(center, unset);

		& > * ~ * {
			margin-left: 2rem;
		}

		&-item {
			@include flex(center, unset);
			position: relative;
			padding: 5px 0;
			font-weight: 700;
			font-size: 1.5rem;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $main-color;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.3s ease;
			}

			&.active::after,
			&:hover::after {
				transform: scaleX(1);
			}
		}

		@include mobile {
			position: fixed;
			bottom: 0;
			left: 0;
			height: 5rem;
			width: 100%;
			background-color: $body-bg;
			padding: 0 2rem;
			box-shadow: $box-shadow;

			@include flex(center, space-between);

			& > * ~ * {
				margin-left: 0;
			}
		}
	}
}
