$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;


$black: #000;
$color-gray: #e0e0e0;
$green: #2fc900;
$yellow: #f1c40f;
$primary-light: #8abdff;
$primary: #6d5dfc;
$primary-dark: #5b0eeb;
$gray: #e0e0e0;

$white: #FFFFFF;
$greyLight-1: #E4EBF5;
$greyLight-2: #c8d0e7;
$greyLight-3: #bec8e4;
$greyDark: #9baacf;

$main-color-hover: #ff0000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-header: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow: 0.3rem 0.3rem 0.6rem $greyLight-2,
	-0.2rem -0.2rem 0.5rem $white;
$inner-shadow: inset 0.2rem 0.2rem 0.5rem $greyLight-2,
	inset -0.2rem -0.2rem 0.5rem $white;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
